{% extends "base.html" %} {% load staticfiles %}
{% block title %} 登录 {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><span>Demo:</span>
            <br><span>【管理员】账号：yst990102，密码：zxcvb987321</span>
            <br><span>【普通用户】账号：test，密码：testtesttest</span>
            <br><span>【普通用户】账号：123，密码：notcommon123</span>

            <br>
            <br>
            <h5>还没有账号？</h5>
            <h5>点击<a href='{% url "userprofile:register" %}'>注册账号</a>加入我们吧！</h5>
            <br>
            <form method="post" action=".">
                {% csrf_token %}
                <!-- 账号 -->
                <div class="form-group col-md-4">
                    <label for="username">账号</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <!-- 密码 -->
                <div class="form-group col-md-4">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">登陆</button>
            </form>
            
            <br>
            <span>还没有注册么？</span>
            <a href="{{ signup_url }}">
                <button class="primaryAction btn btn-primary" type="submit">点击这里注册</button>
            </a>
            
            <br>
            <br>
            <span>忘记密码了？</span>
            <a href="{% url "password_reset_recover" %}">
                <button class="primaryAction btn btn-primary" type="submit">点击这里重置密码</button>
            </a>
            <span>密码重置链接将由<a href="mailto:blog_yst990102@163.com">blog_yst990102@163.com</a>发出</span>
        </div>
    </div>
</div>
{% endblock content %}